@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.01);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 29.5em) {
  html {
    font-size: 40%;
  }
}

body {
  line-height: 1.6;
  background-color: #222222;
}

@media only screen and (max-width: 22.5em) {
  body {
    padding: 0;
  }
}

body::-webkit-scrollbar {
  display: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

::selection {
  background-color: #FD2155;
  color: #fff;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-weight: 300;
}

h1 {
  font-size: 9rem;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 6rem;
  font-weight: 200;
  line-height: 1;
}

@media only screen and (max-width: 45em) {
  .about__flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin-left: 0 !important;
  }
}

.btn {
  border: 1px solid #5c5c5c;
  outline: none;
  color: #ffffff;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0;
  animation: pulsate 1s infinite;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FD2155 50%);
  background-size: 228%;
  transition: all .4s;
  background-position: 179%;
}

@media only screen and (max-width: 60.75em) {
  .btn {
    font-size: 1rem;
  }
}

.btn:hover, .btn:active {
  outline: none;
  border: 1px solid transparent;
  background-position: 100%;
  color: #ffffff;
  transform: translateX(1rem);
}

.btn span {
  vertical-align: middle;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.form p {
  margin-top: 3rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.form__group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.7);
  padding: .8rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  transition: all .4s;
  display: block;
  width: 48%;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 20rem rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
}

.form__input:focus:invalid {
  border-bottom: 2px solid #FF7831;
}

.form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form__label {
  display: block;
  margin: .5rem 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all .3s;
  transform: translateY(0.5rem);
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__textarea {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  transition: all .4s;
  display: block;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  width: 100%;
  height: 8rem;
}

.form__textarea:focus {
  outline: none;
  box-shadow: 0 1rem 20rem rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #ffffff;
}

.form__textarea:focus:invalid {
  border-bottom: 2px solid #FF7831;
}

.form__btn {
  align-self: flex-start;
  border: 1px solid #5c5c5c;
  outline: none;
  color: #919090;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
}

.navigation__checkbox {
  display: none;
  transition: all .4s;
}

.navigation__button {
  background-color: #FD2155;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(92, 92, 92, 0.1);
  text-align: center;
}

@media only screen and (max-width: 22.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#222222, #151515);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transform: translateX(-50rem);
  transition-delay: .2s;
  transition: all 0.7s cubic-bezier(1, -0.57, 0.04, 1.77);
}

@media only screen and (max-width: 37.5em) {
  .navigation__nav {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.navigation__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  line-height: 0;
  width: 50%;
  height: 100%;
  align-self: center;
  background-color: #151515;
}

@media only screen and (max-width: 37.5em) {
  .navigation__logo {
    width: 100%;
    height: 50%;
  }
}

.navigation__logo a {
  color: #919090;
  transition: color .3s ease-in-out;
  font-size: 10rem;
}

.navigation__logo a:hover {
  color: #ffffff;
  animation: pulsate 1s infinite;
}

.navigation__logo ul {
  display: flex;
  margin-top: 10rem;
  list-style: none;
}

.navigation__logo ul li {
  border-bottom: 1px solid transparent;
  padding-bottom: 1.5rem;
}

.navigation__logo ul li:not(:last-child) {
  margin-right: 1.5rem;
}

.navigation__logo ul li:hover {
  border-bottom: 1px solid #FD2155;
}

.navigation__logo ul li:hover a {
  color: #FD2155;
}

.navigation__logo ul li a {
  font-size: 2rem;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

.navigation__list {
  width: 50%;
  list-style: none;
}

@media only screen and (max-width: 37.5em) {
  .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    text-align: center;
  }
}

.navigation__item {
  margin: 1rem;
}

.navigation__item img {
  display: inline-block;
  width: 20%;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  padding: .8rem 2rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FD2155 50%);
  background-size: 248%;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ffffff;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(180);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  transform: translateX(0);
}

.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  transition: all .2s;
}

.navigation__icon::before, .navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -.9rem;
}

.navigation__button:hover .navigation__icon::after {
  top: .9rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 4rem;
  background-color: #222222;
  overflow: hidden;
  height: 100vh;
}

.header__logo {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  line-height: 0;
}

@media only screen and (max-width: 29.5em) {
  .header__logo {
    margin-top: 3rem;
    margin-left: 3rem;
  }
}

.header__logo a img {
  width: 10rem;
  background-color: #ffffff;
  padding: 1rem;
}

.header__body {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .header__body--text {
    margin: 0 auto;
    text-align: center;
  }
}

.header__body--text h1 {
  letter-spacing: -2px;
  animation: moveInLeft 1s;
}

.header__body--text h1 svg {
  height: 6.8rem;
  width: 6.8rem;
}

.header__body--text .span {
  display: inline-block;
}

.header__body--text .span span:nth-child(1) {
  color: #05FDD8;
  margin-right: -7.9rem;
}

.header__body--text .span span:nth-child(2) {
  color: #FD2155;
  margin-right: -2rem;
}

.header__body--text .span:hover {
  background-color: #ffffff;
  transition: all 0.2s cubic-bezier(0.63, -0.12, 0.74, 0.05);
  transform: scale(1.03) skewX(-10deg);
}

.header__body--text .span:hover span:nth-child(3) {
  color: #5c5c5c;
  transition: all 0.3s cubic-bezier(0.63, -0.12, 0.74, 0.05);
}

.header__body--text p {
  color: #919090;
  margin-top: 1rem;
  animation: moveInLeft 1s;
}

.header__body--text a {
  animation: moveInBottom 1s;
}

.header__body--img {
  animation: moveInRight 1s;
}

@media only screen and (max-width: 37.5em) {
  .header__body--img {
    display: none;
  }
}

.header__body--img img {
  height: 40rem;
  border-radius: 50%;
  padding: 1rem;
}

@media only screen and (max-width: 60.75em) {
  .header__body--img img {
    height: 50rem;
  }
}

.about {
  padding: 6% 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__body--text {
  text-align: center;
}

.about__body--article {
  position: relative;
  text-align: center;
  z-index: 5;
  font-size: 1.6rem;
  line-height: 1.8;
  margin-top: 5rem;
}

.about__body--article p:nth-child(2) {
  margin-top: 1rem;
}

.about__body--article p:nth-child(2) ~ ul {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.about__body--article p:nth-child(2) ~ ul li {
  position: relative;
  margin-left: 1.5rem;
}
/*# sourceMappingURL=style.css.map */