// background color
$bg-color-light: #222222;
$bg-color-dark: #151515;

// font colors
$color-primary: #ffffff;
$color-secondary: #919090;
$color-tertiary: #5c5c5c;

// design colors
$green: #05FDD8;
$pink: #FD2155